<div class="employee-time-container">
  <p>This is {{ apiService.currentEmloyee.FIO}}'s profile!</p>
  <div class="time-form">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getSummaryTime(selectedDate.value)">Get Total time</button>
  </div>
  <div *ngIf="workingTime !== null" class="employee-time-info">
    <h4>Summary work time:
      <span class="text-info"> {{workingTime}}</span>
    </h4>
    <p class="">Last state:
      <span class="text-info">{{apiService.currentEmloyee.EventDescription}}</span> at
      <span class="text-info">{{selectedDate.value | date:'dd, MMMM yyyy, h:mm:ss a'}}</span></p>
  </div>

  <div *ngIf="workingTime === null">
    <h4>Employee has not worked on this day.</h4>
  </div>

</div>


