.employee-time-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.employee-time-info{
  padding: 0 10px;
}

.time-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text-info{
  color: #17a2b8;
}

