
.title {
  text-align: center;
  color: #333;
  font-size: 30px;
}

.title-link {
  font-size: 23px;
  line-height: 1.25em;
}

.logo {
  width: 50px;
}

.header{
  background-color: #dbe8ff;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px){
  .title {
    font-size: 26px;
    order: 1;
    margin-bottom: 25px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    order: 2;
  }

  .title-link {
    font-size: 18px;
    line-height: 1.25em;
  }

  .title-link:first-of-type {
    margin-right: 15px;
  }

  .header{
    flex-direction: column;
  }
}


