<div class="header">
  <div class="menu">
    <a routerLink="/" class="title-link">
    <h6>Employees List</h6>
    </a>
  </div>
  <h2 class="title">SPGAcademy API application</h2>
</div>

<router-outlet></router-outlet>
