<div *ngIf="!loading" class="employee-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8 table-control">

    <ng-container matColumnDef="EmployeeID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.EmployeeID}} </td>
    </ng-container>

    <ng-container matColumnDef="FIO">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/employees', element.EmployeeID]">{{element.FIO}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="EventDescriptionID">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element">
        <span class="text-success" *ngIf="element.EventDescriptionID === 45">Attend</span>
        <span class="text-danger" *ngIf="element.EventDescriptionID === 46">Absent</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> State change time </th>
      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
