.table-control, .mat-form-field  {
  width: 70%;
}

.mat-form-field {
  font-size: 14px;
}

.employee-table{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-success {
  color: #7df442;
}

.text-danger{
  color: #f44141;
}

.cdk-column-EventDescriptionID{
  padding-right: 50px;
}

